@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
:root {
  --primary-color: rgb(255, 255, 255);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
  line-height: 1em;
}

.container-body{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgb(138, 42, 223);
}

.title-container {
  text-align: center;
  font-size: 2em;
}

.background{
  background: #ffffff;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: 2;
  max-height: 50%;
}

.container {
  max-width: 35rem;
  margin: 5rem auto;
  background: rgb(255, 255, 255);
  box-shadow: 0 24px 120px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-height: 35rem;
  border-radius: 10px;
}

.label-container, .button-container {
  display: block;
  width: 100%;
  font-weight: 700;
  margin-bottom: 10px;
}

.inpt-container {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.inpt-container {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  font-weight: 600;
  font-size: 1em;
  outline: none;
  border-style: double;
  border-color: rgb(215, 225, 233);
  border-radius: 10px;
}

.inpt-container:focus {
  outline: none;
}

.button-container {
  border: none;
  background: rgb(158, 49, 253);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

.button-container:hover {
  background: rgb(142, 45, 226);
}

.paragrafo-resultado {
  background: rgb(138, 42, 223);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 0.90em;
  border-radius: 10px;
}

.bad {
  background: rgb(241, 86, 125);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 0.90em;
  border-radius: 10px;
}


@media screen and (min-width: 200px) and (max-width: 400px) {
  .container {
    width: 18rem;
  }
  .title-container {
    text-align: center;
    font-size: 1.5em;
  }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (min-width: 400px) and (max-width: 560px) {
  .container {
    width: 25rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
